/* Reseteo de márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9; /* Fondo más neutro y profesional */
    color: #333;
    padding: 20px;
    line-height: 1.6;
}

/* Estilo para la barra de navegación */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff; /* Fondo blanco para un look más limpio */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra más suave */
    margin-bottom: 20px;
}

/* Logo y título en la barra de navegación */
.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px; /* Ajusta el tamaño del logo */
    height: 50px;
    margin-right: 10px;
}

.title {
    color: #ff3385; /* Color rosa para el título */
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

.dropbtn, .btn-back, .search-bar button, .session-btn {
    background-color: #ff3385;
    color: white;
    border: none;
    padding: 12px 20px; /* Ajuste de padding para un tamaño más equilibrado */
    border-radius: 25px; /* Bordes más redondeados */
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem; /* Tamaño de fuente ligeramente reducido */
    transition: all 0.3s ease;
    margin-left: 10px; /* Espacio entre botones */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.dropbtn:hover, .search-bar button:hover, .session-btn:hover {
    background-color: #ff1a6f;
    transform: translateY(-2px); /* Efecto de elevación al pasar el mouse */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Sombra más pronunciada al pasar el mouse */
}


/* Estilo específico para el botón de inicio de sesión */
.session-btn {
    background-color: #333; /* Color más oscuro para el botón de inicio de sesión */
    color: white;
}

.session-btn:hover {
    background-color: #555; /* Color más claro al pasar el mouse */
}
/* Estilo para el ícono dentro de los botones */
.dropbtn i, .search-bar button i, .session-btn i {
    margin-right: 8px; /* Espacio entre el ícono y el texto */
}
.search-bar input {
    padding: 15px;
    margin-right: 15px;
    border-radius: 50px;
    border: 1px solid #ddd; /* Borde más suave */

    font-size: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para las opciones del dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff; /* Fondo blanco */
    min-width: 160px;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra más suave */
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content button {
    padding: 15px;
    background-color: #fff; /* Fondo blanco */
    color: #333; /* Texto más oscuro */
    border: none;
    width: 100%;
    text-align: left;
    border-radius: 10px;
    font-size: 1.1rem;
    transition: background-color 0.3s, transform 0.3s;
}

.dropdown-content button:hover {
    background-color: #f9f9f9; /* Fondo más claro al pasar el mouse */
    transform: scale(1.05);
}

/* Estilo para los productos */
.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 30px;
}

/* Estilo para las tarjetas de producto */
.product-card {
    background-color: #fff;
    border: 1px solid #ddd; /* Borde más suave */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Sombra más suave */
    cursor: pointer;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}

.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1); /* Sombra más suave */
    background-color: #f9f9f9; /* Fondo más claro al pasar el mouse */
}

/* Estilo para las imágenes */
.product-card img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s;
}

.product-card img:hover {
    transform: scale(1.1);
}

/* Estilo de los títulos y descripciones */
.product-card h3 {
    margin-top: 15px;
    color: #ff3385; /* Color rosa para el título */
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}

.product-card p {
    color: #666;
    font-size: 0.95rem;
    margin-top: 10px;
}

/* Estilo para los precios */
.product-card p:last-child {
    font-size: 1.1rem;
    font-weight: bold;
    color: #ff3385; /* Color rosa para el precio */
    margin-top: 15px;
    text-align: center;
}

/* Estilo para los botones de colores */
.color-selector {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.color {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #ff3385; /* Borde rosa */
    cursor: pointer;
    transition: transform 0.3s;
}

.color:hover {
    transform: scale(1.1);
}

.color:active {
    transform: scale(0.9);
}

/* Estilo para el mensaje de "No se encontraron productos" */
.no-products-message {
    background-color: #ff3385; /* Fondo rosa */
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra más suave */
    margin-top: 30px;
    animation: fadeIn 1s ease-out;
}

/* Animación para el mensaje */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Estilo para los mensajes "Agotado" y "Por Agotarse" */
.out-of-stock, .low-stock {
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.out-of-stock {
    background-color: #ff1a6e49;
}

.low-stock {
    background-color: #ff9900a0;
}