<div class="container">
    <h1>Editar Producto</h1>
    <form (ngSubmit)="actualizarProducto()">
      <label for="codigoBarras">Código de Barras:</label>
      <input type="text" id="codigoBarras" [(ngModel)]="producto.codigoBarras" name="codigoBarras" required>
  
      <label for="nombreProducto">Nombre Producto:</label>
      <input type="text" id="nombreProducto" [(ngModel)]="producto.nombreProducto" name="nombreProducto" required>
  
      <label for="tamano">Tamaño:</label>
      <input type="text" id="tamano" [(ngModel)]="producto.tamano" name="tamano" required>
  
      <label for="categoriaMaquillaje">Categoría Maquillaje:</label>
      <input type="text" id="categoriaMaquillaje" [(ngModel)]="producto.categoriaMaquillaje" name="categoriaMaquillaje">
  
      <label for="subcategoria">Subcategoría:</label>
      <input type="text" id="subcategoria" [(ngModel)]="producto.subcategoria" name="subcategoria">
  
      <label for="marca">Marca:</label>
      <input type="text" id="marca" [(ngModel)]="producto.marca" name="marca">
  
      <label for="nombreProveedor">Proveedor:</label>
      <select id="proveedor" [(ngModel)]="producto.nombreProveedor" name="nombreProveedor" required>
        <option *ngFor="let proveedor of proveedores" [value]="proveedor.nombre">{{ proveedor.nombre }}</option>
      </select>
  
      <label for="precioCaja">Precio Caja:</label>
      <input type="number" id="precioCaja" [(ngModel)]="producto.precioCaja" name="precioCaja" required>
  
      <label for="precioPieza">Precio por Pieza:</label>
      <input type="number" id="precioPieza" [(ngModel)]="producto.precioPieza" name="precioPieza" required>
  
      <label for="cantidadPorCaja">Cantidad por Caja:</label>
      <input type="number" id="cantidadPorCaja" [(ngModel)]="producto.cantidadPorCaja" name="cantidadPorCaja" required>
  
      <label for="cantidadPiezas">Cantidad de Piezas:</label>
      <input type="number" id="cantidadPiezas" [(ngModel)]="producto.cantidadPiezas" name="cantidadPiezas" required>
  
      <label for="stockExhibe">Stock Exhibición:</label>
      <input type="number" id="stockExhibe" [(ngModel)]="producto.stockExhibe" name="stockExhibe" required>
  
      <label for="stockExhibeMin">Stock Exhibición Mínimo:</label>
      <input type="number" id="stockExhibeMin" [(ngModel)]="producto.stockExhibeMin" name="stockExhibeMin" required>
  
      <label for="stockAlmacen">Stock Almacén:</label>
      <input type="number" id="stockAlmacen" [(ngModel)]="producto.stockAlmacen" name="stockAlmacen" required>
  
      <label for="stockAlmacenMin">Stock Almacén Mínimo:</label>
      <input type="number" id="stockAlmacenMin" [(ngModel)]="producto.stockAlmacenMin" name="stockAlmacenMin" required>
  
      <label for="imagen">Imagen URL:</label>
      <input type="text" id="imagen" [(ngModel)]="producto.imagen" name="imagen">
  
      <button type="submit">Actualizar Producto</button>
    </form>
  </div>
  