<div class="container">
    <h1>Agregar Producto</h1>
    <form (ngSubmit)="agregarProducto()">
      <label for="codigoBarras">Código de Barras:</label>
      <input type="text" id="codigoBarras" [(ngModel)]="nuevoProducto.codigoBarras" name="codigoBarras" required>
  
      <label for="nombreProducto">Nombre Producto:</label>
      <input type="text" id="nombreProducto" [(ngModel)]="nuevoProducto.nombreProducto" name="nombreProducto" required>
  
      <label for="tamano">Tamaño:</label>
      <input type="text" id="tamano" [(ngModel)]="nuevoProducto.tamano" name="tamano" required>  <!-- Cambié 'tamaño' a 'tamano' -->
  
      <label for="categoriaMaquillaje">Categoría Maquillaje:</label>
      <input type="text" id="categoriaMaquillaje" [(ngModel)]="nuevoProducto.categoriaMaquillaje" name="categoriaMaquillaje">
  
      <label for="subcategoria">Subcategoría:</label>
      <input type="text" id="subcategoria" [(ngModel)]="nuevoProducto.subcategoria" name="subcategoria">
  
      <label for="marca">Marca:</label>
      <input type="text" id="marca" [(ngModel)]="nuevoProducto.marca" name="marca">
  
      <label for="nombreProveedor">Proveedor:</label>
      <select id="proveedor" [(ngModel)]="nuevoProducto.nombreProveedor" name="nombreProveedor" required>
        <option *ngFor="let proveedor of proveedores" [value]="proveedor.nombre">{{ proveedor.nombre }}</option>
      </select>
  
      <label for="precioCaja">Precio Caja:</label>
      <input type="number" id="precioCaja" [(ngModel)]="nuevoProducto.precioCaja" name="precioCaja" required>
  
      <label for="precioPieza">Precio por Pieza:</label>
      <input type="number" id="precioPieza" [(ngModel)]="nuevoProducto.precioPieza" name="precioPieza" required>
  
      <label for="cantidadPorCaja">Cantidad por Caja:</label>
      <input type="number" id="cantidadPorCaja" [(ngModel)]="nuevoProducto.cantidadPorCaja" name="cantidadPorCaja" required>
  
      <label for="cantidadPiezas">Cantidad de Piezas:</label>
      <input type="number" id="cantidadPiezas" [(ngModel)]="nuevoProducto.cantidadPiezas" name="cantidadPiezas" required>
  
      <label for="stockExhibe">Stock Exhibición:</label>
      <input type="number" id="stockExhibe" [(ngModel)]="nuevoProducto.stockExhibe" name="stockExhibe" required>
  
      <label for="stockExhibeMin">Stock Exhibición Mínimo:</label>
      <input type="number" id="stockExhibeMin" [(ngModel)]="nuevoProducto.stockExhibeMin" name="stockExhibeMin" required>
  
      <label for="stockAlmacen">Stock Almacén:</label>
      <input type="number" id="stockAlmacen" [(ngModel)]="nuevoProducto.stockAlmacen" name="stockAlmacen" required>
  
      <label for="stockAlmacenMin">Stock Almacén Mínimo:</label>
      <input type="number" id="stockAlmacenMin" [(ngModel)]="nuevoProducto.stockAlmacenMin" name="stockAlmacenMin" required>
  
      <label for="imagen">Imagen (URL):</label>
      <input type="text" id="imagen" [(ngModel)]="nuevoProducto.imagen" name="imagen" placeholder="Introduce la URL de la imagen" required>
  
      <button type="submit">Agregar Producto</button>
    </form>
  </div>
  