<div class="container">
    <!-- Barra superior -->
    <div class="navbar">
      <div class="logo-container">
        <img class="logo" src="https://i.pinimg.com/originals/9c/ab/b9/9cabb9f45ee1b8f00a4a1ca82d6aaab2.jpg" alt="Logo" />
        <h1 class="title">Almacén</h1>
      </div>
      <div>
        <!-- Botón de opciones con dropdown -->
        <div class="dropdown">
          <button class="dropdown-btn">Opciones <i class="fas fa-caret-down"></i></button>
          <div class="dropdown-content">
            <button (click)="abrirModal()">Agregar Producto</button>
            <button (click)="abrirProveedores()">Proveedores</button>
            <button (click)="abrirInventarios()">Inventario</button>
            <button (click)="abrirHistorial()">Historial</button>
            <button (click)="adduser()">Agregar Usuario</button>
          </div>
        </div>
        <!-- Botón de Cerrar Sesión -->
        <button (click)="cerrarSesion()">Cerrar Sesión</button>
      </div>
    </div>
  
    <!-- Notificación -->
    <div id="notification" class="notification" *ngIf="notificationMessage">
      <p>{{ notificationMessage }}</p>
    </div>
  
    <!-- Listado de productos en un estilo de catálogo -->
    <div class="catalog-grid">
      <div *ngFor="let producto of productos" class="catalog-card">
        <img *ngIf="producto.imagen" [src]="producto.imagen" alt="Imagen del producto" (click)="verDetallesProducto(producto)" />
        <h3>{{ producto.nombreProducto }}</h3>
        <p><strong>Categoría:</strong> {{ producto.categoriaMaquillaje }}</p>
        <p><strong>Stock Exhibición:</strong> {{ producto.stockExhibe }}</p>
        <p><strong>Stock Almacén:</strong> {{ producto.stockAlmacen }}</p>
        <p><strong>Proveedor:</strong> {{ producto.nombreProveedor }}</p>
        <div class="actions">
          <button (click)="editarProducto(producto)">Editar</button>
          <button (click)="abrirModalBaja(producto)">Baja</button>
          <button *ngIf="!producto.activo" (click)="reactivarProducto(producto._id)">Reactivar</button>
        </div>
      </div>
    </div>
  
    <!-- Modal de baja (física o temporal) -->
    <div *ngIf="modalBajaAbierto" class="modal">
      <div class="modal-content">
        <span (click)="cerrarModalBaja()" class="close">&times;</span>
        <h2>Selecciona el tipo de baja</h2>
        <div class="baja-options">
          <button (click)="eliminarProducto(productoSeleccionado._id, 'física')">Eliminar Física</button>
          <button (click)="eliminarProducto(productoSeleccionado._id, 'temporal')">Baja Temporal</button>
        </div>
      </div>
    </div>
  
    <!-- Modal de ver detalles del producto -->
    <div *ngIf="modalAbierto && viewMode" class="modal">
      <div class="modal-content">
        <span (click)="cerrarModal()" class="close">&times;</span>
        <h2>Detalles del Producto</h2>
        <div class="product-details">
          <img *ngIf="selectedProducto?.imagen" [src]="selectedProducto?.imagen" alt="Imagen del producto" class="product-image" />
          <div>
            <p><strong>Código de Barras:</strong> {{ selectedProducto?.codigoBarras }}</p>
            <p><strong>Nombre:</strong> {{ selectedProducto?.nombreProducto }}</p>
            <p><strong>Tamaño:</strong> {{ selectedProducto?.tamano }}</p>
            <p><strong>Categoría Maquillaje:</strong> {{ selectedProducto?.categoriaMaquillaje }}</p>
            <p><strong>Subcategoría:</strong> {{ selectedProducto?.subcategoria }}</p>
            <p><strong>Marca:</strong> {{ selectedProducto?.marca }}</p>
            <p><strong>Proveedor:</strong> {{ selectedProducto?.nombreProveedor }}</p>
            <p><strong>Precio Caja:</strong> {{ selectedProducto?.precioCaja }}</p>
            <p><strong>Precio por Pieza:</strong> {{ selectedProducto?.precioPieza }}</p>
            <p><strong>Cantidad por Caja:</strong> {{ selectedProducto?.cantidadPorCaja }}</p>
            <p><strong>Cantidad de Piezas:</strong> {{ selectedProducto?.cantidadPiezas }}</p>
            <p><strong>Stock Exhibición:</strong> {{ selectedProducto?.stockExhibe }}</p>
            <p><strong>Stock Exhibición Mínimo:</strong> {{ selectedProducto?.stockExhibeMin }}</p>
            <p><strong>Stock Almacén:</strong> {{ selectedProducto?.stockAlmacen }}</p>
            <p><strong>Stock Almacén Mínimo:</strong> {{ selectedProducto?.stockAlmacenMin }}</p>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Modal de agregar/editar producto -->
<div *ngIf="modalAbierto && !viewMode" class="modal">
  <div class="modal-content">
    <span (click)="cerrarModal()" class="close">&times;</span>
    <h2>{{ editMode ? 'Editar Producto' : 'Agregar Producto' }}</h2>
    <form (ngSubmit)="agregarProducto()" #productoForm="ngForm">
      <!-- Código de Barras -->
      <label for="codigoBarras">Código de Barras:</label>
      <input type="text" id="codigoBarras" [(ngModel)]="nuevoProducto.codigoBarras" name="codigoBarras" required #codigoBarras="ngModel">
      <div *ngIf="(codigoBarras.invalid && (codigoBarras.dirty || codigoBarras.touched)) || (productoForm.submitted && codigoBarras.invalid)" class="error-message">
        El código de barras es requerido.
      </div>

      <!-- Nombre del Producto -->
      <label for="nombreProducto">Nombre Producto:</label>
      <input type="text" id="nombreProducto" [(ngModel)]="nuevoProducto.nombreProducto" name="nombreProducto" required #nombreProducto="ngModel">
      <div *ngIf="(nombreProducto.invalid && (nombreProducto.dirty || nombreProducto.touched)) || (productoForm.submitted && nombreProducto.invalid)" class="error-message">
        El nombre del producto es requerido.
      </div>

      <!-- Tamaño -->
      <label for="tamano">Tamaño:</label>
      <input type="text" id="tamano" [(ngModel)]="nuevoProducto.tamano" name="tamano" required #tamano="ngModel">
      <div *ngIf="(tamano.invalid && (tamano.dirty || tamano.touched)) || (productoForm.submitted && tamano.invalid)" class="error-message">
        El tamaño es requerido.
      </div>

      <!-- Categoría de Maquillaje -->
      <label for="categoriaMaquillaje">Categoría Maquillaje:</label>
      <select id="categoriaMaquillaje" [(ngModel)]="nuevoProducto.categoriaMaquillaje" name="categoriaMaquillaje" required #categoriaMaquillaje="ngModel">
        <option value="">Seleccione una categoría</option>
        <option value="Maquillaje">Maquillaje</option>
        <option value="Skin Care">Skin Care</option>
      </select>
      <div *ngIf="(categoriaMaquillaje.invalid && (categoriaMaquillaje.dirty || categoriaMaquillaje.touched)) || (productoForm.submitted && categoriaMaquillaje.invalid)" class="error-message">
        La categoría es requerida.
      </div>

      <!-- Subcategoría -->
      <label for="subcategoria">Subcategoría:</label>
      <select id="subcategoria" [(ngModel)]="nuevoProducto.subcategoria" name="subcategoria" required #subcategoria="ngModel">
        <option value="">Seleccione una subcategoría</option>
        <option value="Labiales">Labiales</option>
        <option value="Bases">Bases</option>
        <option value="Sombras">Sombras</option>
        <option value="Máscara de Pestañas">Máscara de Pestañas</option>
        <option value="Cremas">Cremas</option>
        <option value="Serums">Serums</option>
      </select>
      <div *ngIf="(subcategoria.invalid && (subcategoria.dirty || subcategoria.touched)) || (productoForm.submitted && subcategoria.invalid)" class="error-message">
        La subcategoría es requerida.
      </div>
      
      <!-- Marca -->
      <label for="marca">Marca:</label>
      <input type="text" id="marca" [(ngModel)]="nuevoProducto.marca" name="marca" required #marca="ngModel">
      <div *ngIf="(marca.invalid && (marca.dirty || marca.touched)) || (productoForm.submitted && marca.invalid)" class="error-message">
        La marca es requerida.
      </div>

      <!-- Nombre del Proveedor -->
      <label for="nombreProveedor">Proveedor:</label>
      <select id="nombreProveedor" [(ngModel)]="nuevoProducto.nombreProveedor" name="nombreProveedor" required #nombreProveedor="ngModel">
        <option value="">Seleccione un proveedor</option>
        <option *ngFor="let proveedor of proveedores" [value]="proveedor.nombre">{{ proveedor.nombre }}</option>
      </select>
      <div *ngIf="(nombreProveedor.invalid && (nombreProveedor.dirty || nombreProveedor.touched)) || (productoForm.submitted && nombreProveedor.invalid)" class="error-message">
        El proveedor es requerido.
      </div>

      <!-- Precio Caja -->
      <label for="precioCaja">Precio Caja:</label>
      <input type="number" id="precioCaja" [(ngModel)]="nuevoProducto.precioCaja" name="precioCaja" required min="0" #precioCaja="ngModel">
      <div *ngIf="(precioCaja.invalid && (precioCaja.dirty || precioCaja.touched)) || (productoForm.submitted && precioCaja.invalid)" class="error-message">
        El precio de la caja es requerido y debe ser mayor o igual a 0.
      </div>

      <!-- Precio por Pieza -->
      <label for="precioPieza">Precio por Pieza:</label>
      <input type="number" id="precioPieza" [(ngModel)]="nuevoProducto.precioPieza" name="precioPieza" required min="0" #precioPieza="ngModel">
      <div *ngIf="(precioPieza.invalid && (precioPieza.dirty || precioPieza.touched)) || (productoForm.submitted && precioPieza.invalid)" class="error-message">
        El precio por pieza es requerido y debe ser mayor o igual a 0.
      </div>

      <!-- Cantidad por Caja -->
      <label for="cantidadPorCaja">Cantidad por Caja:</label>
      <input type="number" id="cantidadPorCaja" [(ngModel)]="nuevoProducto.cantidadPorCaja" name="cantidadPorCaja" required min="1" #cantidadPorCaja="ngModel">
      <div *ngIf="(cantidadPorCaja.invalid && (cantidadPorCaja.dirty || cantidadPorCaja.touched)) || (productoForm.submitted && cantidadPorCaja.invalid)" class="error-message">
        La cantidad por caja es requerida y debe ser al menos 1.
      </div>

      <!-- Cantidad de Piezas -->
      <label for="cantidadPiezas">Cantidad de Piezas:</label>
      <input type="number" id="cantidadPiezas" [(ngModel)]="nuevoProducto.cantidadPiezas" name="cantidadPiezas" required min="0" #cantidadPiezas="ngModel">
      <div *ngIf="(cantidadPiezas.invalid && (cantidadPiezas.dirty || cantidadPiezas.touched)) || (productoForm.submitted && cantidadPiezas.invalid)" class="error-message">
        La cantidad de piezas es requerida y debe ser mayor o igual a 0.
      </div>

      <!-- Stock Exhibición -->
      <label for="stockExhibe">Stock Exhibición:</label>
      <input type="number" id="stockExhibe" [(ngModel)]="nuevoProducto.stockExhibe" name="stockExhibe" required min="0" #stockExhibe="ngModel">
      <div *ngIf="(stockExhibe.invalid && (stockExhibe.dirty || stockExhibe.touched)) || (productoForm.submitted && stockExhibe.invalid)" class="error-message">
        El stock de exhibición es requerido y debe ser mayor o igual a 0.
      </div>

      <!-- Stock Exhibición Mínimo -->
      <label for="stockExhibeMin">Stock Exhibición Mínimo:</label>
      <input type="number" id="stockExhibeMin" [(ngModel)]="nuevoProducto.stockExhibeMin" name="stockExhibeMin" required min="0" #stockExhibeMin="ngModel">
      <div *ngIf="(stockExhibeMin.invalid && (stockExhibeMin.dirty || stockExhibeMin.touched)) || (productoForm.submitted && stockExhibeMin.invalid)" class="error-message">
        El stock mínimo de exhibición es requerido y debe ser mayor o igual a 0.
      </div>

      <!-- Stock Almacén -->
      <label for="stockAlmacen">Stock Almacén:</label>
      <input type="number" id="stockAlmacen" [(ngModel)]="nuevoProducto.stockAlmacen" name="stockAlmacen" required min="0" #stockAlmacen="ngModel">
      <div *ngIf="(stockAlmacen.invalid && (stockAlmacen.dirty || stockAlmacen.touched)) || (productoForm.submitted && stockAlmacen.invalid)" class="error-message">
        El stock de almacén es requerido y debe ser mayor o igual a 0.
      </div>

      <!-- Stock Almacén Mínimo -->
      <label for="stockAlmacenMin">Stock Almacén Mínimo:</label>
      <input type="number" id="stockAlmacenMin" [(ngModel)]="nuevoProducto.stockAlmacenMin" name="stockAlmacenMin" required min="0" #stockAlmacenMin="ngModel">
      <div *ngIf="(stockAlmacenMin.invalid && (stockAlmacenMin.dirty || stockAlmacenMin.touched)) || (productoForm.submitted && stockAlmacenMin.invalid)" class="error-message">
        El stock mínimo de almacén es requerido y debe ser mayor o igual a 0.
      </div>

      <!-- Imagen -->
      <label for="imagen">Imagen URL:</label>
      <input type="text" id="imagen" [(ngModel)]="nuevoProducto.imagen" name="imagen">

      <!-- Cantidad de Cajas en Lote -->
      <label for="cantidadCajasLote">Cantidad de Cajas en Lote:</label>
      <input type="number" id="cantidadCajasLote" [(ngModel)]="nuevoProducto.cantidadCajasLote" name="cantidadCajasLote" required min="0" #cantidadCajasLote="ngModel">
      <div *ngIf="(cantidadCajasLote.invalid && (cantidadCajasLote.dirty || cantidadCajasLote.touched)) || (productoForm.submitted && cantidadCajasLote.invalid)" class="error-message">
        La cantidad de cajas en lote es requerida y debe ser mayor o igual a 0.
      </div>

      <!-- Fecha de Caducidad del Lote -->
      <label for="fechaCaducidadLote">Fecha de Caducidad del Lote:</label>
      <input type="date" id="fechaCaducidadLote" [(ngModel)]="nuevoProducto.fechaCaducidadLote" name="fechaCaducidadLote" required #fechaCaducidadLote="ngModel">
      <div *ngIf="(fechaCaducidadLote.invalid && (fechaCaducidadLote.dirty || fechaCaducidadLote.touched)) || (productoForm.submitted && fechaCaducidadLote.invalid)" class="error-message">
        La fecha de caducidad es requerida.
      </div>

      <!-- Botón para agregar o actualizar -->
      <button type="submit">{{ editMode ? 'Actualizar Producto' : 'Agregar Producto' }}</button>
    </form>
  </div>
</div>